//主颜色
$primary=#ffe7ba
$second= #ff8247
$third=	#ffd39b
$four=#458B74

$select-color=#ff8247;

$color1=#333333
$color2=#666666
$color3=#999999
$color4=#fff

.text-primary
    color $primary
.text-color4
    color $color4
.select
    background $second
    color $color4