.input{
    width: 80%;
    margin: 10px auto;
}
textarea{
    display block
    width 80%
    margin .05rem auto
    resize none
}
.btn-dafault
    width 28px
    height 14px
    padding 12px 0

.avatar-uploader .el-upload {
    border: 1px dashed red;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.avatar {
    width: 100px;
    height: 100px;
    display: block;
}